/* font-family: 'Montserrat', sans-serif;
font-family: 'Roboto', sans-serif; */
:root {
  --transition: --all in 150ms ease-in-out;
  --btn-padding: 10px 34px;
  --content-padding: 170px 30px;
  --btn-radius: 40px;
  --heading-color: #f65282;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  color: #ffffff;
}
p {
  font-size: 18px;
}
a {
  text-decoration: none;
  color: #ffffff;
  transition: var(--transition);
  -webkit-transition: var(--transition);
  -moz-transition: var(--transition);
  -ms-transition: var(--transition);
  -o-transition: var(--transition);
}
a:hover {
  color: --var(--heading-color);
}
body {
  font-family: "Roboto", Sans-serif;
  background: #000000;
}
h1 {
  font-size: 72px;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 1.5;
}
h2 {
  font-size: 24px;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 1;
}
.logo {
  max-height: 50px;
}
nav li {
  background: none;
  line-height: 42px;
  color: #ffffff;
  font-size: 16px;
}
nav {
  padding: 30px 0;
}

nav li.active a {
  color: #808080;
}
nav li,
a:hover {
  color: var(--heading-color);
}
.hero {
  text-align: center;
}
.hero-image {
  background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.1)),
    url(/src/images/bg.png) center/cover no-repeat;
}

.hero p {
  font-size: 18px;
  font-weight: 400;
  line-height: 1.5;
  max-width: 600px;
  margin: auto;
}
.btn-link {
  background: #ffffff;
  color: var(--heading-color);
  font-family: "Montserrat", sans-serif;
  line-height: 1.5;
  text-decoration: none;
  border-radius: var(--btn-radius);
  padding: var(--btn-padding);
  -webkit-border-radius: var(--btn-radius);
  -moz-border-radius: var(--btn-radius);
  -ms-border-radius: var(--btn-radius);
  -o-border-radius: var(--btn-radius);
  transition: var(--transition);
  -webkit-transition: var(--transition);
  -moz-transition: var(--transition);
  -ms-transition: var(--transition);
  -o-transition: var(--transition);
}
.btn-link:hover {
  background: var(--heading-color);
  color: #ffffff;
}

/* about section */
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
ul,
li {
  display: inline;
  margin-left: 20px;
}
ul,
li:first-child {
  margin-left: 0;
}
li {
  background: rgba(255, 255, 255, 1);
}

.about-hero {
  padding: 100px 30px;
}
.about-heading {
  color: var(--heading-color);
}
.camera {
  background: rgba(45, 39, 39, 1);
  width: 75%;
}

/* gallery section */
.gallery-hero {
  padding: 50px 30px;
}
.hero-image {
  padding: 120px 30px;
}

/* contact section */
.address,
.email,
.phone {
  color: var(--heading-color);
}

.content-container {
  padding: 100px 30px;
}
footer {
  background: rgba(40, 35, 35, 1);
  padding: 20px 30px;
}
footer p {
  font-size: 16px;
}

.socials a {
  color: #000000;
  margin-left: 20px;
}
.socials a:first-child {
  margin-left: 0;
}
.socials a:hover {
  color: var(--heading-color);
}
p a:hover {
  color: var(--heading-color);
}
@media (max-width: 900px) {
  .hero-image {
    background-image: none;
    background: #808080;
  }

  h2 {
    font-size: 16px;
  }
  h1 {
    font-size: 40px;
  }
  p {
    font-size: 14px;
  }
  .hero p {
    max-width: 370px;
    margin: auto;
  }
  .about {
    margin-top: 20px;
  }
  .camera,
  h6 {
    font-size: 14px;
  }
  .camera {
    width: 75%;
  }
  .hero,
  .about-hero,
  .gallery-hero {
    padding: 30px 10px;
  }
  .photo {
    margin-bottom: 20px;
    max-width: 100%;
  }
  nav ul {
    display: flex;
    justify-content: space-evenly;
  }
  footer p {
    display: flex;
    justify-content: center;
    font-size: 10px;
    /* letter-spacing: 0.5px; */
  }
}
/* @media (max-width: 1200px) {
  .about-name {
    font-size: 25px;
  }
  .camera,
  h6 {
    font-size: 12px;
  }
  .camera {
    width: 100%;
  }
} */
